@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



/* Container central */
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Bloco de login */
.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.login-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-box h2 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
    font-weight: 600;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #666666;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f6f6f6;
}

.forgot-password {
    display: block;
    margin: 10px 0;
    font-size: 12px;
    color: #276ef1;
    text-decoration: none;
}

.social-login {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
}

.social-icon {
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

.btn-submit {
    width: 100%;
    padding: 12px;
    background-color: #276ef1;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    text-transform: uppercase;
}

.btn-submit:hover {
    background-color: #174fb8;
}

.create-account-link {
    color: #276ef1;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    margin-top: 15px;
    display: inline-block;
}

/* Responsividade */
@media (max-width: 720px) {
    .login-box {
        padding: 15px;
        max-width: 90%;
    }

    .btn-submit {
        font-size: 14px;
    }

    .social-login {
        gap: 10px;
    }

    .social-icon {
        width: 35px;
        height: 35px;
    }
}
